.flex-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row; }

.flex-col {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

/* justify-content */
.flex-j-start {
  -ms-flex-pack: start;
  justify-content: flex-start; }

.flex-j-end {
  -ms-flex-pack: end;
  justify-content: flex-end; }

.flex-j-center {
  -ms-flex-pack: center;
  justify-content: center; }

.flex-j-around {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.flex-j-between {
  -ms-flex-pack: justify;
  justify-content: space-between; }

/* align-items */
.flex-a-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -ms-grid-row-align: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.flex-a-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -ms-grid-row-align: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }

.flex-a-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  -ms-flex-align: center;
  align-items: center; }

.flex-a-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -ms-grid-row-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

/* flex-grow */
.flex-1 {
  -ms-flex: 1;
  flex: 1; }

.flex-2 {
  -ms-flex: 2;
  flex: 2; }

.flex-3 {
  -ms-flex: 3;
  flex: 3; }

.flex-4 {
  -ms-flex: 4;
  flex: 4; }

.flex-5 {
  -ms-flex: 5;
  flex: 5; }

.flex-6 {
  -ms-flex: 6;
  flex: 6; }

.prof_user_info {
  background: white;
  padding: 10px;
  border-radius: 15px; }

.prof_user_info p {
  font-size: 20px;
  padding: 7.5px; }

.notice h3 {
  margin-top: 0px;
  display: inline-block; }

.notice a {
  color: black;
  text-decoration: none; }

.notice a:hover {
  color: #00A0C6;
  text-decoration: none;
  cursor: pointer; }

.notice_info {
  background: white;
  padding: 10px;
  border-radius: 5px; }

.notice_info h3 {
  display: block;
  padding-top: 0px; }

#single_notice h3 {
  margin-top: 0px; }

#single_notice {
  min-height: 113px; }

.notice_info {
  background: white;
  padding: 10px;
  border-radius: 5px;
  -ms-flex-align: stretch;
  align-items: stretch; }

.notice_user {
  padding-bottom: 10px; }

.notice_user img {
  margin-right: 10px; }

.norm_link {
  color: #0060B6 !important;
  text-decoration: none; }

.norm_link a:hover {
  color: #00A0C6;
  text-decoration: none;
  cursor: pointer; }

@media only screen and (max-width: 1199px) {
  .md_hide {
    display: none; } }

@media only screen and (min-width: 1199px) {
  .lg_hide {
    display: none; } }

@media only screen and (max-width: 767px) {
  .lg_hide {
    display: none; } }

.sm_user_info {
  border-top: black solid 1px;
  margin-top: 10px; }
  @media only screen and (min-width: 767px) {
    .sm_user_info {
      display: none; } }

.sm_user_info a {
  padding-left: 5px; }

#delete_notice {
  padding-bottom: 20px; }

.comments {
  margin-bottom: 10px;
  padding: 10px;
  background: white;
  border-radius: 5px; }

.comment_content {
  border: #ccc solid 1px;
  padding: 10px;
  border-radius: 5px; }

.comment_user {
  margin-bottom: 10px; }

.comment_user img {
  margin-right: 5px; }

@media (max-width: 420px) {
  #comment_date {
    font-size: 0.6em; } }

@media (max-width: 991px) {
  .paginate {
    -ms-flex-pack: center;
    justify-content: center; } }

* {
  box-sizing: border-box; }

body {
  font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #56a6a1; }

p, li {
  line-height: 1.5;
  margin-bottom: 0; }

.gutter-20.row {
  margin-right: -10px;
  margin-left: -10px; }

.gutter-20 > [class^="col-"], .gutter-20 > [class^=" col-"] {
  padding-right: 10px;
  padding-left: 10px; }

.shad_tile {
  background: #eee;
  padding: 1em;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }

.shad_tile:before, .shad_tile:after {
  content: "";
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  border-radius: 100px / 10px; }

.shad_drop {
  background: #eee;
  padding: 1em;
  border-radius: 0 0 5px 5px;
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }

.shad_drop:before, .shad_drop:after {
  content: "";
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  border-radius: 100px / 10px; }

@media (max-width: 767px) {
  .sm_top_mar {
    margin-top: 20px; } }

@media (max-width: 991px) {
  .md_top_mar {
    margin-top: 20px; } }

.lg_top_mar {
  margin-top: 20px; }

.ten_top_mar {
  margin-top: 10px; }

h1, h2, h3 {
  margin-top: 10px; }

.head_white {
  color: white; }

@media (max-width: 420px) {
  .head_btn {
    -ms-flex-direction: column;
    flex-direction: column; } }

.head_btn h1 {
  padding-right: 10px; }

#pad_bot_remove {
  padding-bottom: 0px; }

textarea {
  resize: vertical; }

.sq_img {
  padding: 10px; }

.project {
  min-height: 300px; }

.project h3 {
  margin-top: 0;
  margin-bottom: 0; }

.proj-img {
  width: 96%;
  height: 280px;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 2%; }

.proj-head {
  position: absolute;
  z-index: 1;
  top: -15px;
  left: 0;
  width: 100%;
  background: white;
  padding: 10px;
  border-radius: 5px; }

.proj-tile {
  position: relative; }

#profile_drop_head {
  color: black;
  text-decoration: none; }

.nav_mar {
  margin-top: 70px; }

.bot_mar {
  margin-bottom: 50px; }

.navbar-collapse {
  max-height: 100% !important; }

/*# sourceMappingURL=app.css.map */
